@import url("https://fonts.googleapis.com/css2?family=Engagement&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.bg {
  animation: slideshow 15s linear infinite
}

@keyframes slideshow {
  0% {
    opacity: 1;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot1.png/fdfe239b7c9f.png");
  }
  20% {
    opacity: 1;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot1.png/fdfe239b7c9f.png");
  }
  25% {
    opacity: 1;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot2.png/4d62acb667fb.png");
  }
  45% {
    opacity: 1;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot2.png/4d62acb667fb.png");
  }
  50% {
    opacity: 1;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot3.png/94edb770accf.png");
  }
  70% {
    opacity: 1;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot3.png/94edb770accf.png");
  }
  75% {
    opacity: 1;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot4.png/a4fd825e3d49.png");
  }
  95% {
    opacity: 1;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot4.png/a4fd825e3d49.png");
  }
  100% {
    opacity: 0;
    background-image: url("https://www.instagram.com/static/images/homepage/screenshots/screenshot4.png/a4fd825e3d49.png");
  }
}
